@media only screen and (min-width:768px){

    .Discover_Our_World h2,.Discover_Our_World h6{ will-change: filter, transform, opacity; -webkit-backface-visibility: hidden; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; opacity: 0 !important; -webkit-transition: opacity .7s ease-in, -webkit-filter 1.3s, -webkit-transform 1.6s; transition: opacity .7s ease-in, -webkit-filter 1.3s, -webkit-transform 1.6s; -o-transition: filter 1.3s, transform 1.6s, opacity .7s ease-in; transition: filter 1.3s, transform 1.6s, opacity .7s ease-in; transition: filter 1.3s, transform 1.6s, opacity .7s ease-in, -webkit-filter 1.3s, -webkit-transform 1.6s; }
    .Discover_Our_World h2.come-in,.Discover_Our_World h6.come-in{    -webkit-animation-delay: .1s; animation-delay: .1s; -webkit-transform: translate3d(0, 0, 0) scale(1); transform: translate3d(0, 0, 0) scale(1); opacity: 1 !important;}

    .Discover_Our_World .right_col{transform: translateX(-50%) rotate(-360deg); -webkit-transform: translateX(-50%) rotate(-360deg); -o-transform: translateX(-50%) rotate(-360deg); -moz-transform: translateX(-50%) rotate(-360deg); transition: 1.0s all ease; -webkit-transition: 1.0s all ease; -o-transition: 1.0s all ease; -moz-transition: 1.0s all ease; transition-delay: 0.5s; pointer-events: none; opacity: 0; pointer-events: none;}
    .Discover_Our_World .come-in .right_col{transform: translateX(0%) rotate(0deg); -webkit-transform: translateX(0%) rotate(0deg); -o-transform: translateX(0%) rotate(0deg); -moz-transform: translateX(0%) rotate(0deg); opacity: 1;pointer-events: all;}

    .Discover_Our_World .left_col{opacity: 0 !important; visibility: hidden !important; transition: 1.8s all ease; -webkit-transition: 1.8s all ease; -o-transition: 1.8s all ease; -moz-transition: 1.8s all ease; transform: translateX(20%); -webkit-transform: translateX(20%); -moz-transform: translateX(20%); -o-transform: translateX(20%); transition-delay: 1s;}
    .Discover_Our_World .come-in .left_col{    opacity: 1 !important; visibility: visible !important; transform: translateX(0); -webkit-transform: translateX(0); -moz-transform: translateX(0); -o-transform: translateX(0); }
    .animation_sec{ will-change: filter, transform, opacity; -webkit-backface-visibility: hidden; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; opacity: 0 !important; -webkit-transition: opacity .7s ease-in, -webkit-filter 1.3s, -webkit-transform 1.6s; transition: opacity .7s ease-in, -webkit-filter 1.3s, -webkit-transform 1.6s; -o-transition: filter 1.3s, transform 1.6s, opacity .7s ease-in; transition: filter 1.3s, transform 1.6s, opacity .7s ease-in; transition: filter 1.3s, transform 1.6s, opacity .7s ease-in, -webkit-filter 1.3s, -webkit-transform 1.6s; }
    .animation_sec.come-in{    -webkit-animation-delay: .1s; animation-delay: .1s; -webkit-transform: translate3d(0, 0, 0) scale(1); transform: translate3d(0, 0, 0) scale(1); opacity: 1 !important;}
}

@media only screen and (max-width:1750px){
    h1 { font-size: 38px; }
    h2 { font-size: 35px; }
    p { line-height: 24px; font-size: 18px; }
    .wrapper { max-width: 1300px; }
    .banner { padding: 250px 0 200px; }
    .banner p{    font-size: 18px;letter-spacing: 1px;}
    .Discover_Our_World .colin p { max-width: 80%; }
    .about .right_col p { font-size: 18px; line-height: 1.5; }
    footer .yoga { top: -62px; }
    .inner_banner { padding: 220px 0 225px; min-height: 640px; }
    .inner_banner p { font-size: 20px; }
    .about_image_link_blog { padding: 55px 0 75px; }
    /* applications */
    .years_experience p { font-size: 16px; }
    .news-page .inner_banner { padding: 210px 0 200px; min-height: 630px; }

}
@media only screen and (max-width:1599px){
    h3 { font-size: 24px; }
    header nav>ul>li.mega-menu>.sub-menu { right: auto; left: -280px; }
    header nav>ul>li.mega-menu>.sub-menu::after { margin-left: -180px; }
    .banner { padding: 250px 0 160px; }
    footer .bg{ background-size: 110% 134%; background-position: top 30% center; }
    footer .yoga { top: -102px; left: -70px; }

    /* our customers */
    .customers_logo .col { width: calc(25% - 30px); height: 177px; }
    footer .col h3{text-align: left;}

    
}
@media only screen and (max-width:1399px)
{
    .wrapper { max-width: 1200px; }
    .Discover_Our_World .left_col { min-height: 420px; }
    .Discover_Our_World .right_col { width: 620px; height: 620px; }
}
@media only screen and (max-width:1365px)
{
    .tooltip .tooltip-text { left: 62%; transform: translateX(-62%); }
    .tooltip .tooltip-text::after { left: 56%;}

    
}
@media only screen and (max-width:1279px) /* container size */
{
    .wrapper { padding: 0px 20px;}
    header nav>ul>li.mega-menu>.sub-menu { right: auto; left: -190px; }
    header nav>ul>li.mega-menu>.sub-menu::after { margin-left: -260px; }
    header nav>ul>li>.sub-menu { right: -100px; }
    .Discover_Our_World .colin img { margin-bottom: 10px; max-width: 60px; }
    .Discover_Our_World .right_col { width: 530px; height: 530px; }
    .Discover_Our_World { padding: 30px 0 0; }
    .the_best { padding: 50px 0 125px; }
    .the_best .wrapper { padding: 0px 50px; }
    .model {padding: 0px 20px;}
    .model .wrapper { margin-top: -80px; padding: 30px 0; }
    .model .col h3 { font-size: 32px; line-height: 24px; margin-bottom: 10px; }
    .model .col .img { max-width: 60px; height: 70px; margin-bottom: 15px; }
    .model .col p { font-size: 19px; line-height: 25px; margin-bottom: 0; }
    .article_news .custom-nav { width: calc(100% - 40px); }
    .article_news .col .img { height: 175px; }
    .article_news .col { border-radius: 18px; padding: 20px 0 20px 20px; min-height: 250px; margin-top: 20px; }
    .article_news { padding: 60px 0 50px; }
    footer .bottom_col { padding: 30px 0px 30px; }
    footer .yoga { top: 0; left: 0; max-width: 150px; }
    footer .col:first-child { padding-left: 10px; }
    footer .col:nth-child(2) { width: 33%; }
    footer .col h3 { font-size: 20px; }
    footer .col:nth-child(3) { width: 30%; }
    footer .col:nth-child(3) a:not(.btn) { width: 25px; height: 25px; margin-right: 10px; }

    /* about */
    .about_image_link_blog .col { height: 180px; }
    .about_image_link_blog { padding: 45px 0 25px; }
    /* technologies */
    .lefttext_rightimage .img_col.iteam-2 a{width:calc(50% - 5px);margin-bottom: 10px;}
    .lefttext_rightimage .img_col.iteam-2 a:nth-child(3){width: 100%;margin-bottom: 0;}
    .title_text_image_video_btn .wrapper{padding: 0px 20px;}
    .gallery_slider {padding: 0 25px;}

     /* our customers */
     .customers_logo .col { width: calc(33.33% - 30px); height: 187px; }
     .tooltip .tooltip-text{display: none;}
     .news_list .wrapper{padding: 0;}
     .inner_banner p { width: 100%;font-size: 19px;}
     .get_touch .letf_col { padding-right: 20px; }


}
.social{display: none;}
.bottom_col .bg{display: none;}
.bottom_col .close{display: none;}
header .hum{display: none;}
.about_text_logo .colin span{display: none;}
@media only screen and (max-width:1023px)
{
    .bottom_col .bg{display:block;cursor: pointer;}
    .bottom_col .close { position: absolute; top: 40px; right: 15px; display: block; }
    header .bottom_col.active .close {top: 25px;}
    header .hum{max-width:20px;display: block;}
    header .bottom_col { margin-top: 0; border: none; width: 100%; height: 100vh; background-color:#00000080; position: fixed; left: 0; top: 0;    transition: 0.3s ease all;opacity: 0;pointer-events: none;}
    header .bottom_col.active {opacity: 1;pointer-events: all;}
    header .bottom_col nav{position: absolute; top: 0; bottom: 0; width: 260px; background-color: rgba(255, 255, 255, 1); left: 0; overflow-y: auto; overflow-x: hidden; -webkit-overflow-scrolling: touch; padding: 30px 0;    transform: translateX(-101%);transition: 0.3s ease all;}
    header .bottom_col.active nav{transform: translateX(0);}
    header .bottom_col nav>ul{display: block;}
    header .bottom_col nav>ul>li{border-bottom: 1px solid #ececec;}
    header .bottom_col nav>ul>li:hover{background-color: rgba(0,0,0,.05);}
    header .bottom_col nav>ul>li>a{font-size: 12px;padding:12px 20px 12px;color: rgba(102,102,102,.85);font-weight: 500;line-height: 1.67;width: 100%;letter-spacing: 1px;}
    header nav>ul>li>a::after{display: none;}
    header nav>ul>li.menu-item::after{display: none;}
    header .social{display: flex;padding: 20px;}
    header .social a{border: 2px solid #c0c0c0;}
    header .social a+a{margin-left: 15px;}

    header nav>ul>li>.sub-menu { position: relative; top: 0; min-width: 100%; z-index: 9; padding: 0px 20px; background-color: transparent; box-shadow: none; border-radius: 0; right: auto !important; opacity: 1; pointer-events: all; left: 0 !important;padding-bottom: 20px; }
    header nav>ul>li>.sub-menu::after{display: none !important;}
    header nav>ul>li>.sub-menu>li>a { margin: 0px 5px 0 10px; padding: 5.5px 0; color: #666; width: 100%; }
    header nav>ul>li>.sub-menu>li{border: none;}
    /* mega menu */
    header nav>ul>li.mega-menu>.sub-menu { opacity: 1; pointer-events: all; width: 100%; padding: 0px 0px 20px; display: block; }
    header nav>ul>li.mega-menu>.sub-menu>.menu-item { min-width: 100%; border: none; padding: 0px 20px 10px; }
    header nav>ul>li.mega-menu>.sub-menu>.menu-item>ul{padding-left: 10px;}
    header nav>ul>li.mega-menu>.sub-menu>.menu-item>ul>li{border: none;}
    header nav>ul>li.mega-menu>.sub-menu>.menu-item>ul>li:first-child a{color: var(--black); font-size: 13px; text-transform: uppercase; font-weight: bold; width: 100%; padding: 4px 0;}
    header nav>ul>li.mega-menu>.sub-menu>.menu-item>ul>li>a { color: #666; padding: 6px 5px 6px 10px; }
    header nav>ul>li.mega-menu>.sub-menu>.menu-item>ul>li>a::before{display: none;}
    header .bottom_col nav>ul>li.menu-item>a+.drop{position: absolute;right:0;top: 0px;width: 44px;height: 44px;background-image: url(../images/menu_arrow.svg); background-repeat: no-repeat; background-size: contain;background-size: 20px; background-position: center;filter: brightness(0) saturate(100%) invert(42%) sepia(5%) saturate(0%) hue-rotate(154deg) brightness(97%) contrast(81%);}
    header .bottom_col nav>ul>li.menu-item>a+.drop.active{transform: scale(-1);}
    header nav>ul>li>.sub-menu{transition: none;display: none;}
    header nav>ul>li.mega-menu>.sub-menu{display: none;}
    /* mega menu finish */
    header .right_col {display: none;}
    .banner { padding: 190px 0 210px; }
    .banner .wrapper>div { width: 100%; }
    .Discover_Our_World .inner { position: relative; padding: 20px 0; display: flex ; flex-wrap: wrap; }
    .Discover_Our_World .right_col { width: 530px; height: 530px; position: relative; order: 1; }
    .Discover_Our_World .left_col { min-height: 100%; order: 2; width: 100%; }
    .about .right_col { width: 100%; margin-top: 20px; }
    .about { padding: 40px 0; }
    footer .col { width: 35%; }
    footer .col:nth-child(2) { width: 55%; padding-right: 50px; }
    footer .col:nth-child(3) { width: 100%; padding: 20px 0;}
    footer .bg { background-size: 190% 124%; background-position: top 30% center; }
    footer .yoga { top: -80px; left: 0; max-width: 180px; }
    .inner_banner { padding: 190px 0 190px; }
    .btn { font-size: 16px; padding: 0px 19px; }
    .about_text_logo .colin span{display: block;        color: #000; text-align: center; font-size: 40px; font-style: normal; font-weight: 600; line-height: 30px; opacity: 0.05; position: absolute; top: 30px; right: 20px;}
    .about_text_logo .colin .text{width: 100%;padding: 0;order: 2;}
    .about_text_logo .wrap{padding: 0px 20px;}
    .about_text_logo .colin .img { width: 140px; padding: 0; order: 1;margin-bottom: 15px; }
    .about_text_logo .colin+.colin{ background-color: #ffffff !important; margin-bottom: 40px; border-radius: 20px; position: relative;padding: 20px 20px 10px 15px;}
    .about_text_logo .colin:last-child{margin-bottom: 0;}
    .about_text_logo { padding: 25px 0px 25px; }
    .about_image_text { padding: 25px 0px 40px; }
    .about_image_text .col { width: 100%; }
    .about_image_text div.col { width: 100%; padding: 40px 0; }
    .inner_banner { padding: 170px 0 170px; min-height: 536px; }
    /* technologies */
    .about_image_link_blog .col { width: calc(33.33% - 2%);margin-top: 20px; }
    .lefttext_rightimage .img_col.iteam-2 a{width:100%;margin-bottom: 10px;}
    body .materials_blog_three .btn_col a { margin-left: 0; width: calc(50% - 40px); line-height: 1.6; padding: 7px 17px; }
    .materials_blog .img { height: 150px; }

     /* our customers */
     .customers_logo .col { width: calc(33.33% - 30px); height: 135px; }

     /* gallery */
    .gallery_sec .wrapper {  display: flex;justify-content: space-between;gap: 0;flex-wrap: wrap;}
    .gallery_sec .col1 {height: 436px;width: 100% !important;}
    .gallery_sec .col:not(:first-child){height: 203px;width: calc(50% - 15px);margin-top: 30px;}
    .news-page .inner_banner { min-height: 680px;}
    .get_touch .letf_col { padding-right: 0px;width: 100%; }
    .get_touch .right_col { width: 100%;margin-top: 30px;}
    .map_sec .wrapper{padding: 0;}


}
@media only screen and (max-width:767px)
{
    .scrollbar-track-y {width: 4px !important;}
    .scrollbar-thumb{width: 4px !important;}
    .wrapper { padding: 0px 15px; }
    header .brand img { max-height: 46px; }
    .banner { padding: 180px 0 70px;min-height: 80vh; }
    h1, h2, h3, h4, h5, h6{margin-bottom: 20px;}
    h1 { font-size: 26px; }
    h2 { font-size: 26px; }
    h6 { font-size: 14px; }
    p { line-height: 1.4; font-size: 15px; }
    h3 { font-size: 22px; }

    .banner p { font-size: 16px;line-height: 1.4; letter-spacing: 0;}
    .banner .wrapper .left_col p{display: none;}
    .btn { font-size: 14px; line-height: 38px; padding: 0px 27px; margin-left: 15px; }
    .banner .btn { margin-top: 6px;font-size: 14px;}
    .btn::after, .btn::before { width: 30px; height: 40px; left: -15px; }
    .btn::before { left: auto; right: -15px; }
    .Discover_Our_World { padding: 50px 0 20px; }
    .Discover_Our_World .right_col { width: 280px; height: 280px; }
    .Discover_Our_World .left_col { padding: 20px; }
    .Discover_Our_World .colin p { max-width: 100%; }
    .about h2{margin-bottom: 0;font-size: 28px;}
    .about .wrapper {padding-bottom: 65px;}
    .about .wrapper .btn{position: absolute;bottom: 0;left: 20px;}
    .about .right_col p {  line-height: 1.6; margin-bottom: 15px;        font-size: 16px; text-align: justify; word-spacing: -2px; }
    .the_best .wrapper { padding: 0px 20px; }
    .the_best { padding: 40px 0 165px; }
    .the_best h2{        font-size: 23px;}
    .the_best  .col { width: 90px; height: 90px; }
    .the_best .colin { padding: 18px 13px; }
    .the_best .wrap { margin: 0  auto;margin-bottom: 45px; max-width: 340px; }
    .article_news .wrapper .custom-nav .custom-prev { margin-left: -15px; }
    .article_news .wrapper .custom-nav .custom-next { margin-right: -10px; }
    .model { padding: 0px 15px; }
    .model .col { padding: 0 15px 30px; width: 50%; }
    .model .col .img { max-width: 45px; height: 50px; margin-bottom: 20px; }
    .the_best .custom-nav .custom-next { margin-right: -13px; }
    .the_best .custom-nav .custom-prev { margin-left: -13px; }
    .model .col h3 { font-size: 24px; line-height: 16px; margin-bottom: 10px; }
    .model .col p { font-size: 16px; line-height: 18px; margin-bottom: 0; }
    .model .wrapper {         margin-top: -98px; padding: 30px 0 20px; }
    .article_news { padding: 60px 0 70px; }
    .article_news .wrapper{padding: 0px 25px;}
    .article_news .col .date span:first-child { font-size: 24px; line-height: 50px; padding: 0px 10px; }
    .article_news .col h3{font-size: 22px;}
    .article_news .col .btn { font-size: 14px; }
    .owl-dots .owl-dot { width: 12px; height: 12px; margin: 0 2px; }
    .owl-dots .owl-dot::after { width: 6px; height: 6px; }
    .article_news .col { border-radius: 18px; padding: 20px; min-height: 200px; margin-top: 0; }
    .article_news .col:hover { background: #9DB0F4; box-shadow: none; margin-top: 0; }
    .article_news .owl-item { padding: 0; }
    .article_news .owl-dots{display: none;}

    footer .col:first-child { padding-left: 0; order: 3; width: 100%;}
    footer .col:nth-child(2) { width: 100%; padding-right: 0; order: 1; }
    footer .col:nth-child(3) { width: 100%; padding: 30px 0; order: 2;         text-align: left;}
    footer .col:nth-child(3) div{justify-content: flex-start;}
    footer .inner{padding-bottom: 50px;position: relative;margin-top: 40px; }
    footer .col .btn.btn-black { position: absolute; bottom: 0; left: 0; right: 0; width: fit-content; margin: 0 auto; }
    footer .col h3 { font-size: 18px; font-weight: 600; }
    footer { padding: 66px 0 0; margin-top: 0px;}
    footer .bg {        background-size: cover; background-position: top center;}
    footer .logo { max-width: 180px; }
    footer .yoga { top: -120px; left: 0; max-width: 130px; }
    footer .col:nth-child(2) h3 { text-align: left; }
    footer .col ul li{margin-bottom: 5px;}
    footer .bottom_col { padding: 50px 0px; }
    .custom-nav span { width: 30px; height: 30px; }
    .custom-nav span img{max-width: 9px;}
    .article_news .custom-nav span { width: 30px; height: 30px;font-size: 16px; }
    .article_news .custom-nav .custom-next { margin-right: -10px; }
    .article_news .custom-nav .custom-prev { margin-left: -10px; }
    .the_best .col { box-shadow: -5px -5px 10px 0 rgb(255 255 255 / 80%), 5px 6px 12px rgba(0, 0, 0, .1); }
    .the_best .colin { padding: 10px 10px; }
    
    /* about */
    .inner_banner { padding: 170px 0 170px; }
    .inner_banner::after { bottom: -1px; }
    .inner_banner .btn { margin-top: 10px; }
    .about_image_link_blog { padding: 25px 0 25px; }
    .about_image_link_blog .col { width: 100%; margin: 0  0 20px;}
    .about_two_containts { padding: 25px 0px 45px; }
    .about_two_containts .col { padding: 0; width: 100%; }
    .btn_email span::after { top: 4px; }
    .about_two_containts .col .btn { padding: 0px 20px; margin-top: 25px; width: calc(100% - 8px); margin-left: 5px; }
    .btn_email span::after, .btn_yes span::after { width: 16px; background-size: 15px; top: 3px; margin-left: 1px; }
    .about_image_text .wrapper>a .bg{display: none;}
    .about_image_text .wrapper>a img{opacity: 1;}
    .about_image_text .col h3 { margin-bottom: 0; font-size: 18px; line-height: 30px; padding: 20px; }
    .about_image_text div.col { padding:0; }
    .about_text_logo .colin:first-child a{display: none;}
    .inner_banner p { font-size: 16px; }
    .inner_banner p br{display: none;}
    .inner_banner h1{margin-bottom: 15px;}
    .inner_banner { padding: 120px 0 120px; min-height: 120px; min-height: 450px; display: flex ; justify-content: center; align-items: center; }
    .about_image_link_blog .title { padding-top: 25px; }
    .about_image_link_blog h2 { font-size: 26px; }
    .about_image_link_blog h2:after { height: 4px; }

    /* technologies */
    .lefttext_rightimage .text_col{padding: 0 !important;}
    .lefttext_rightimage .wrapper>div { padding: 0 ; width: 100%; }
    .lefttext_rightimage { padding: 20px 0 40px; }
    .lefttext_rightimage .img_col{margin-top: 25px;}

    .title_text_image_video ,.materials_blog,.title_text_image_video_btn{ padding-top: 2.5rem; padding-bottom: 2.5rem; }
    .title_text_image_video .img_col .col { padding: 0 0 30px; width: 100%; }
    .title_text_image_video.half .text_col { width: 100%; }
    .title_text_image_video.half .img_col { width: 100%; }
    .title_text_image_video_btn .img_col .col { width:100%; }
    .title_text_image_video_btn .colin { padding-bottom: 0; }
    
    .materials_blog .colin { width: 100%; padding: 0 3vw 50px 3vw; }
    .materials_blog .colin:last-child {padding-bottom: 0px;}
    body .materials_blog_two .colin { width: 100%;}
    body .materials_blog_two .colin:last-child{padding-bottom: 0px;}
    body .materials_blog_three  .colin .col { padding-bottom: 0; }
    body .materials_blog_three .btn_col a { width: calc(100% - 20px); margin: 0 auto !important; display: block; font-size: 11px; padding: 10px 10px;}
    body .materials_blog_three .btn_col a+a {margin-top: 20px !important;}
    body .materials_blog_three .colin .img { margin-top: 30px; padding-bottom: 0; }
    body .materials_blog_three .colin {padding-bottom:30px;}
    body .materials_blog_three .btn_col { margin-top: 20px; }
    .gallery_slider { padding: 0 5px; }
    .gallery_slider .col{height: 22vh;}

    /* applications  */
    .years_experience { padding: 20px 0 1rem; }
    .years_experience .left_col{display: none;}
    .years_experience .right_col { width: 100%; padding: 0 !important; }
    .about_image_link_blog .col { margin: 0 0 30px;         height: 75.8vw;}
    .title_text_image_video .wrapper+.wrapper { margin-top: 50px; }
    .years_experience { padding: 30px 0; }
    .title_text_image_video .img_col img {max-height: 300px;}
    /* .title_text_image_video .text_col,.title_text_image_video .img_col{padding: 0;} */
    .title_text_image_video.half .img_col.iteam-2 .col{width: 100%;}
    .link_image_image .wrapper>div{width: 100%;}

   /* our customers */
   .customers_logo .col { width: calc(50% - 30px); height: 24.5vw; }
   .customers_logo .wrapper{padding: 0;}

     /* gallery */
     .gallery_sec .col1 {height: 436px;}
     .gallery_sec .col:not(:first-child){height: 203px;width:100%;margin-top: 30px;}

     /* news */
     .news-page .inner_banner { padding: 130px 0 150px; min-height: 450px; }
    .news_list .col { width: 100%; margin-bottom: 30px;}
    .news_list .col h3 { text-align: left;font-size: 24px;margin-bottom: 16px; }
    .news_list .col .btn { min-width: 200px; position: relative; margin-top: 50px;}
    .news_list .col .text{padding-bottom: 0;}
    .news_list{padding-bottom: 60px;}
    /* contact-us */
    .get_touch { padding: 20px 0; }
    .get_touch h2{display: none;}
    .get_touch .letf_col .col { padding: 10px; }
    .get_touch .letf_col .col svg{width: 40px;}
    .get_touch .right_col{ padding: 20px 20px 20px 20px; }
    .get_touch .right_col form .col {width: 100%;}
    .get_touch .right_col input.in{border-radius: 5px;}
    .get_touch .file-upload-container{flex-wrap: wrap;}
    .get_touch .file-upload-container>div{width: 100%;text-align: center;max-width: 100%;}
    .get_touch .file-upload-container .file-upload-box{padding: 5px 0;margin-top: 20px;}
    .get_touch .right_col .we_transfer p, .get_touch .right_col .we_transfer p a { font-size: 16px; }
    .map_sec iframe{height: 320px;}


}